        
        <!--END TEMPLATE-->
        <footer class="info">
            <p>&copy; <a href="http://jefking.me" target="_blank">Jef King</a> 2017</p>
        </footer>

		<script src="assets/js/base.js"></script>
		<script src="assets/js/react-with-addons.js"></script>
		<script src="assets/js/index.js"></script>
		<script src="assets/js/JSXTransformer.js"></script>
		<script src="assets/js/director.js"></script>

		<script src="assets/js/utils.js"></script>
		<script src="assets/js/todoModel.js"></script>
</body>
</html>