<!DOCTYPE html>
<html lang="en" data-framework="react">

<head>
    <title>a->b->c->a->&#8230;->&infin;</title>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="the sequential task list that never ends. happy stacking!" />
    <meta name="author" content="Jef King" />
    <link rel="icon" href="favicon.ico">

    <link rel="stylesheet" href="assets/css/base.css">
    <link rel="stylesheet" href="assets/css/index.css">
</head>
<body>
    <div class="container">
        <!--START TEMPLATE-->